<div appKm role="radiogroup" [attr.aria-labelledby]="id" class="button-group">
  <label [attr.id]="id" class="label">{{label}}</label>

  <!-- Seria mais fácil usar o radio ao invés do button (tente ao máximo usar as tags semânticas do html) -->
  <!-- <input type="radio" id="yes" name="yesNoAnswer" value="true">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="yesNoAnswer" value="true">
  <label for="no">No</label> -->

  <button
  appKmItem
  (focused)="activate(options.YES)"
  role="radio"
  [attr.aria-checked]="value === options.YES"
  [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
  type="button"
  class="button button-yes"
  [class.button-pressed]="value === options.YES"
  (click)="activate(options.YES)">
  Yes
  </button>
  <button
    appKmItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.aria-checked]="value === options.NO"
    [attr.tabindex]="value === options.NO ? 0 : -1"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)">
      No
  </button>
</div>
